<section class="section footer">
  <div class="footer-content">
    <div class="footer-logo">
        <a href="{{ settings['footer'].settings.logo_url | asset_url }}">
            <img src="{{settings['footer'].settings.logo_image | asset_url}}" height="auto" width="auto" alt="Shuffle Store Logo" />
            <span>{{settings['footer'].settings.logo_text | asset_url}}</span>
        </a>
        <p class="footer-p">{{ settings['footer'].settings.copyright_text | asset_url }}</p>
        <p class="footer-p">Email <a href="mailto:{{ settings['footer'].settings.copyright_email | asset_url }}">{{ settings['footer'].settings.copyright_email | asset_url }}</a></p>
    </div>
    <div class="footer-links">
        <div class="footer-links-top">
            {% for link in settings['footer'].settings.links limit: 4 %}
                <a href="{{ link.url | asset_url }}" class="footer-link">{{ link.label | asset_url }}</a>
            {% endfor %}
        </div>
        <div class="footer-links-bottom">
            {% assign all_links = settings['footer'].settings.links | reverse %}
            {% for link in all_links limit: 3 %}
                <a href="{{ link.url | asset_url }}" class="footer-link">{{ link.label }}</a>
            {% endfor %}
        </div>
        <div class="footer-payment-methods">
            <p>We accept all major cards, PayPal & crypto</p>
            <img src="{{"/assets/payment_method_1.svg" | asset_url}}" height="25" width="25" alt="Method 1"/>
            <img src="{{"/assets/payment_method_2.svg" | asset_url}}" height="25" width="25" alt="Method 2"/>
            <img src="{{"/assets/payment_method_3.svg" | asset_url}}" height="25" width="25" alt="Method 3"/>
            <img src="{{"/assets/payment_method_4.svg" | asset_url}}" height="25" width="25" alt="Method 4"/>
            <img src="{{"/assets/payment_method_5.svg" | asset_url}}" height="25" width="25" alt="Method 5"/>
        </div>
    </div>
    <div class="footer-socials">
        <div class="footer-newsletter">
            <p>Subscribe and receive drop notifications</p>
            <form>
                <input type="email" placeholder="Enter Email" required>
                <button type="submit">
                    <img src="{{"/assets/arrow.svg" | asset_url}}" height="20" width="20" alt="Arrow Icon" />
                </button>
            </form>
        </div>
         <div class="footer-social-links">
            {% for link in settings['footer'].settings.social-links %}
                <a class="footer-link" href="{{ link.url | asset_url }}" target="_blank">{{ link.label | asset_url }}</a>
            {% endfor %}
         </div>
    </div>
  </div>
  </section>