<section class="header">
    <div class="marquee">
        <div class="marquee__content">
            {% for i in (1..13) %}
                 <span>{{ "FREE SHIPPING FOR ORDERS OVER $100" }}</span>
                 <img src="{{ "/assets/icon-separator.svg" | asset_url }}" height="15" width="15" alt="Separator" />
            {% endfor %}
        </div>
    </div>
    <nav class="section nav">
        <img src="{{"/assets/logo.svg" | asset_url}}" class="logo-desk" height="auto" width="auto" alt="logo"/>
        <img src="{{"/assets/logo-mobile.svg" | asset_url}}" class="logo-mobile" height="auto" width="auto" alt="logo"/>
        <div class="payment-methods">
            <p>We Accept</p>
            <img src="{{"/assets/payment_method_1.svg" | asset_url}}" height="25" width="25" alt="Method 1"/>
            <img src="{{"/assets/payment_method_2.svg" | asset_url}}" height="25" width="25" alt="Method 2"/>
            <img src="{{"/assets/payment_method_3.svg" | asset_url}}" height="25" width="25" alt="Method 3"/>
            <img src="{{"/assets/payment_method_4.svg" | asset_url}}" height="25" width="25" alt="Method 4"/>
            <img src="{{"/assets/payment_method_5.svg" | asset_url}}" height="25" width="25" alt="Method 5"/>
        </div>
        <div class="nav-links">
            <a href="#products">All Products</a>
            <a href="#collections">Collections</a>
            <button class="cart-button">
                <img src="{{"/assets/cart-icon.png" | asset_url}}" height="25" width="25" alt="Cart"/>
            </button>
         </div>
    </nav>
</section>
